/* BEM naming: component - button */
.c-button
  display: inline-block
  color: #A082D1
  width: 150px
  height: 35px
  line-height: 35px
  border: solid 1px #A082D1
  border-radius: 2em
  text-decoration: none
  text-transform: uppercase
  margin: 0 10px
  background-color: #fff
  &:hover
    background-color: #A082D1
    color: #fff
