build:
    dependencies:
        before:
            - npm install
    tests:
        override:
            -
                command: 'npm test -- --coverage'
                coverage:
                    file: 'coverage/clover.xml'
                    format: 'clover'