ee http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
main.css

# misc
.DS_Store
.env
.vscode

npm-debug.log
.idea

*.log
