body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.demo-card-wide.mdl-card {
  margin: 0 auto;
  width: 90%;
  max-width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
  margin: 0 auto;
  width: 320px;
  height: 380px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
          url('https://getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

@import 'App.css';